<div class="jumbotron text-center">
    <div class="container">
        <h1>aaron's Homepage</h1>
        <p>Welcome to aaron's Blog posts, a site originally started as part of a Villier's project led by Billy Mayor</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>See the things which I have posted!</h3>
            <ul>
		
		    <li><a href="/posts/firstpost">Why this blog?</a></li>
		    <li><a href="/posts/philosophy">#note to self, philosphy is broken somehow.</a></li>
		    <li><a href="/posts/rubyisthebest/">Ruby. Is. The. Best.</a></li>
                    <li><a href="/posts/hello_world/">Philosophy</a></li>
            </ul>
    </div>
  </div>
</div>
