<div class="container">
    <div class="row">
        <h3>A blog post:</h3>
        <p>Today (04/02/2016):
	So we've began my first Villiers park  5 day residential. Launching into Kubuntu was interesting, we are doing this from booting into memory sticks.

	With actually making the blog website I haven't been able to find how to launch ruby.

	Ruby on rails, according to Billy is  in demand so I'm hoping this language will be useful for me and I will actually be able to understand it!</p>
    </div>
  </div>
</div>
